/* aqui empieza la implemntaion para pantallas pequenas como el celualr por ejemplo */
@font-face {
  font-family: karla;
  src: url(Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: karla;
  src: url(Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: karla;
  src: url(Karla-VariableFont_wght.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: karla;
}

body {
  background: hsl(148, 38%, 91%);
  height: 100dvh;
  width: 100dvw;
}

main {
  background: white;
  width: 90%;
  /* margin-top: 2rem;
  margin-right:1rem ;
  margin-bottom:2rem;
  margin-left: 1rem; */
  /* margin: 2rem 1rem 2rem 1rem */
  /* 1 rem = 16px */
  margin: 2rem 1rem;
  padding: 3rem 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}


h1 {
  color: hsl(187, 24%, 22%);
  margin-bottom: 3rem;
}

button {
  background: hsl(169, 82%, 27%);
  color: white;
  border: none;
  height: 50px;
  border-radius: 10px;
  font-size: larger;
  min-height: 70px;
  margin-top: 1rem;
}

label {
  color: hsl(187, 24%, 22%);
  margin-bottom: 0.5rem;
}

input {
  border: hsl(186, 15%, 59%) 1px solid;
  border-radius: 10px;
}

textarea {
  border: hsl(186, 15%, 59%) 1px solid;
  border-radius: 10px;
  min-height: 100px;
}

span {
  color: hsl(169, 82%, 27%);
}

.contenedorInputs,
.contenedorRadioInputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.radioInput {
  border: hsl(186, 15%, 59%) 1px solid;
  border-radius: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.inputData {
  min-height: 50px;
  width: 100%;
  margin: auto;
}

.inputContact {
  display: flex;
  margin-top: 1rem;
}

#contact {
  display: flex;
  align-self: baseline;
  margin-right: 1rem;
}

#general-enquiry,
#support-request {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.sectionFullName {
  display: flex;
  flex-direction: column;
}

.queryLabel {
  margin-left: 0.5rem;
}

.messageContainer {
  display: flex;
  flex-direction: column;

}

/* aqui termina la implemntacion para pantallas pequenas como el celular por ejemplo */







/* aqui empieza la implemntacion para pantallas grandes como la de una tablet en modo horizontal , para adelante , como tmb seria una pantalla de una laptop por ejemplo */


/* pantallas de un ancho minimo de 768px a mas  */
@media only screen and (min-width: 768px) {
  main {
    width: 60%;
    margin: auto;
  }

  .sectionFullName,
  .contenedorRadioInputs {
    flex-direction: row;
    gap: 1rem;
  }
}

/* aqui termina la implemntacion para pantallas grandes como la de una tablet en modo horizontal , para adelante , como tmb seria una pantalla de una laptop por ejemplo */
